<!--/**-->
<!--* @author Marc Adrian Dominguez-->
<!--* @studentID 301151879-->
<!--* Personal Portfolion-->
<!--*/-->
<!-- MAIN CONTENT -->
<!-- MAIN CONTENT -->
<div class="container">
    <!--Title-->
    <div class="row">
        <div class="col-md-offset-3 col-md-6 text-center">
            <h1><%= title %></h1>
            <p>Few of the Projects i've done, and can be done for you as well.</p>
        </div>
    </div>
    <!--Projects-->
    <div class="row well">
        <div class="col-md-4">
            <% include project1.ejs %>
        </div>
        <div class="col-md-4">
            <% include project2.ejs %>
        </div>
        <div class="col-md-4">
            <% include project3.ejs %>
        </div>
    </div>
</div>

