<!--/**-->
<!--* @author Marc Adrian Dominguez-->
<!--* @studentID 301151879-->
<!--* Personal Portfolion-->
<!--*/-->
<!-- MAIN CONTENT -->
<div class="row">
    <!--Project Name-->
    <div class="row text-center">
        <h2>Video Editing</h2>
    </div>
    <!--Project Description-->
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <img src="/assets/images/project3.png" class="img-responsive img-rounded center-block">
            </div>
            <div class="col-md-6 text-center">
                <p>Being a Youtuber and video editing afficionado, i have the knack for telling and creating stories via video editing. Vegas, After Effects and Filmora are the tools i'm accustomed with.</p>
            </div>
        </div>
    </div>
</div>