<!--/**-->
<!--* @author Marc Adrian Dominguez-->
<!--* @studentID 301151879-->
<!--* Personal Portfolion-->
<!--*/-->
<!-- MAIN CONTENT -->
<div class="row">
    <!--Project Name-->
    <div class="row text-center">
        <h2>Researcher</h2>
    </div>
    <!--Project Description-->
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <img src="/assets/images/project2.png" class="img-responsive img-rounded center-block">
            </div>
            <div class="col-md-6 text-center">
                <p>Along with my experience as a college instructor, i was a full-time researcher and content creator STI College, and to this day the courseware that i have made is still being used by 60+ branches of STI College.</p>
            </div>
        </div>
    </div>
</div>