<!--/**-->
<!--* @author Marc Adrian Dominguez-->
<!--* @studentID 301151879-->
<!--* Personal Portfolion-->
<!--*/-->
<!-- MAIN CONTENT -->

<div class="row">
    <!--Project Name-->
    <div class="row text-center">
        <h2>Robotic Process Automation</h2>
    </div>
    <!--Project Description-->
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <img src="/assets/images/project1.png" class="img-responsive img-rounded center-block">
            </div>
            <div class="col-md-6 text-center">
                <p>During my tenure as an Application Developer/Software Developer, i've deployed two Robotic Process A.K.A Robots for Bell Canada and is still in use today. </p>
            </div>
        </div>
    </div>
</div>