<!--/**-->
<!--* @author Marc Adrian Dominguez-->
<!--* @studentID 301151879-->
<!--* Personal Portfolion-->
<!--*/-->
<!-- MAIN CONTENT -->
<footer class="footer top-buffer">
    <div class="container text-center">
        <p class="text-muted">©Copyright 2021 Marc Dominguez</p>
    </div>
</footer>


<!-- JAVASCRIPT SECTION -->
<script src="/javascripts/lib/jquery/dist/jquery.min.js"/>
<script src="/javascripts/lib/bootstrap/dist/js/bootstrap.min.js"/>
<script src="/javascripts/app.js"/>
</body>
</html>