<!--/**-->
<!--* @author Marc Adrian Dominguez-->
<!--* @studentID 301151879-->
<!--* Personal Portfolion-->
<!--*/-->
<!-- MAIN CONTENT -->
<div class="container">
    <!--Title-->
    <div class="row">
        <div class="col-md-12 text-center"><h1>About Marc Adrian Dominguez/h1></div>
    </div>
    <!--About me information-->
    <div class="row well">
        <div class="col-md-2 col-md-offset-2">
            <img src="/assets/images/profile-picture.png" class="img-responsive img-rounded center-block"/>
        </div>
        <div class="col-md-6">
            <p>
                Dynamic and creative software developer with more than three (3) years of Robotic Process Automation experience. Three (3) years’ experience in nurturing students and leading them for their better future along with three (3) years’ experience of developing learning materials to be used by students and college instructors. Eager to support and be a part of a development team with my automation programming skills along with my innovative thinking, creativity, and leadership skills.
            </p>
            <h4>Interesting links:</h4>
            <div class="list-group text-center">
                <a href="https://github.com/marcadrian04"
                   class="list-group-item list-group-item-action"
                   target="_blank"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a>
                <a href="https://www.linkedin.com/in/marc-adrian-dominguez-4368a1185/"
                   class="list-group-item list-group-item-action"
                   target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a>
                <a href="https://www.facebook.com/JamMasKyot"
                   class="list-group-item list-group-item-action"
                   target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a>
            </div>
        </div>
    </div>
</div>