<!--/**-->
<!--* @author Marc Adrian Dominguez-->
<!--* @studentID 301151879-->
<!--* Personal Portfolion-->
<!--*/-->
<!-- MAIN CONTENT -->
<div class="container">
    <!--Title-->
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Marc Adrian Dominguez</h1>
            <h3 class="subtitle">Personal Portfolio</h3>
        </div>
    </div>
    <!--Home intro-->
    <div class="row well">
        <div class="col-md-4">
            <img src="/assets/images/home-pic1.png" class="img-responsive img-rounded center-block">
        </div>
        <div class="col-md-4">
            <img src="/assets/images/home-profile-picture.png" class="img-responsive img-rounded center-block">
        </div>
        <div class="col-md-4">
            <img src="/assets/images/home-pic2.png" class="img-responsive img-rounded center-block">
        </div>
    </div>
</div>